@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --ff: 'Rubik', sans-serif;
  --primary-blue: hsl(238, 40%, 52%);
  --primary-red: hsl(358, 79%, 66%);
  --white: white;
  --body-bg-color: hsl(228, 33%, 97%);
  --rating-bg-color: var(--body-bg-color);
  --text-dark-color: hsl(212, 24%, 26%);
  --text-light-color: hsl(211, 10%, 45%);
  --vertical-line-color:  hsl(223, 19%, 93%);

  background-color: var(--body-bg-color);
}

body > #root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
